:host {
  width: 100%;
  display: block;
}

.search {
  display: inline-block;
  margin: 20px 80px;
  position: relative;
}

.search-box {
  height: 38px;
  margin-right: 20px;
  width: 300px;
}

.filter-list {
  text-align: right;
  display: inline-block;
}

.filter-tag {
  border: solid 1px lightgray;
  border-radius: 5px;
  padding: 5px;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
}

.filter-tag:hover, .filter-tag.selected {
  color: #fff;
  background-color: maroon;
}

.close-button {
  height: 32px;
  width: 32px;
  position: absolute;
  top: 6px;
  left: 267px;
  cursor: pointer;
  border-radius: 999px;
}

.close-button:hover {
  background-color: antiquewhite;
}
@media only screen and (max-width: 500px) {
    .search{
        margin: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .search-box{
        width : 65%;
        margin-right: 0px;
        margin-top: 5px;
    }
    .close-button{
        left: 170px;
        top: 10px;
    }
    .filter-tag{
      float: left;
    }
}