<div class="title">
  {{component.name}}<span class="version">{{component.version}}</span>
</div>
<div class="image">
  <iframe *ngIf="isCodePen"  style="width: 100%; height: 100%"
          [src]="component.codepenEmbedUrl | safe" frameborder="0"
          allowfullscreen="allowfullscreen" allowtransparency='true' >
    <a href='{{ component.codepenUrl }}'>Demo Page</a>.
  </iframe>
  <iframe *ngIf="isJsFiddle"  style="width: 100%; height: 100%"
          [src]="component.jsfiddleEmbedUrl | safe" frameborder="0"
          allowfullscreen="allowfullscreen" allowtransparency='true' >
    <a href='{{ component.jsfiddleUrl }}'>Demo Page</a>.
  </iframe>
  <iframe *ngIf="isPlunker"  style="width: 100%; height: 100%"
          [src]="component.plnkrEmbedUrl | safe" frameborder="0"
          allowfullscreen="allowfullscreen" allowtransparency='true' >
    <a href='{{ component.plnkrUrl }}'>Demo Page</a>.
  </iframe>
  <div *ngIf="isExpo" class="qr-code">
    <div class="qr-code-text">Scan QR code with your <a href="https://expo.io/" target="_blank">Expo</a> mobile app</div>
    <img class="qr-code-img" src="../../../assets/qr-codes/{{component.demo.qrCode}}.png">
  </div>
  <iframe *ngIf="isCustom" height='265' scrolling='yes' [src]='component.demo.src | safe' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%; height:100%'><a href='https://codepen.io/sachinchoolur/pen/ogxpOZ/'>Demo Page</a>.
  </iframe>
</div>

<div class="icons">
  <a *ngIf="component.npmUrl" [attr.href]="component.npmUrl" target="_blank" class="icon-container" title="NPM" (mouseenter)="npmMouseEnter()" (mouseleave)="npmMouseLeave()">
    <img src="../../../assets/images/npm.png" class="round-button">
  </a>
  <a *ngIf="component.bowerPackage" [attr.href]="" class="icon-container" title="Bower" (mouseenter)="bowerMouseEnter()" (mouseleave)="bowerMouseLeave()">
    <img src="../../../assets/images/bower.png" class="round-button">
  </a>
  <a *ngIf="component.downloadUrl" [attr.href]="component.downloadUrl" target="_blank" class="icon-container" title="Download">
    <img src="../../../assets/images/download.png" class="round-button">
  </a>
  <a *ngIf="component.githubUrl" [attr.href]="component.githubUrl" target="_blank" class="icon-container" title="GitHub">
    <img src="../../../assets/images/gh.png" class="round-button">
  </a>
  <a *ngIf="component.details" [attr.href]="component.details" target="_blank" class="icon-container" title="Details page" (mouseenter)="detailsMouseEnter()" (mouseleave)="detailsMouseLeave()">
    <img src="../../../assets/images/details.png" class="round-button">
  </a>
</div>
<div class="info">{{component.info}}</div>
<div class="footer">
  <div class="license">License: {{component.license}}</div>
  <div *ngIf="component.install.downloads" class="download">Downloads: {{component.install.downloads}}</div>
</div>
