:host {
  height: 520px;
  width: 500px;
  display: inline-block;
  box-shadow: 0 0 6px 2px lightgray;
  margin: 20px;
  overflow: hidden;
}

.title {
  height: 30px;
  text-align: center;
  font-size: 24px;
  margin: 4px;
}

.version {
  color:gray;
  font-size: 12px;
  float: right;
  margin-top: 9px;
  margin-right: 6px;
}

.icon-container {
  margin: 5px;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.image {
  height: 390px;
  width: 500px;
  background-color: #eef0f3;
}

.qr-code {
  display: block;
}

.qr-code-text {
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}

.qr-code-img {
  width: 160px;
  margin: 78px 170px;
}

.info {
  height: 10px;
  font-size: 12px;
  margin-left: 5px;
  padding-top: 10px;
}

.footer {
  height: 15px;
}

.license {
  margin-left: 5px;
  height: 15px;
  font-size: 12px;
  display: inline-block;
}

.download {
  margin-left: 73px;
  height: 15px;
  font-size: 12px;
  display: inline-block;
}

.demo-message {
  line-height: 387px;
  text-align: center;
}

.demo-window {
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}
