* {
  font-family: "Courier New";
  font-size: 20px;
}

.round-button {
  border-radius: 999px;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.round-button:hover {
  box-shadow: 0 0 1px 4px lightgrey;
}

.button {
  background-color: #802f30;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 1px 2px lightgrey;
  background-color: #fb5155;
}

.center {
  width: 100%;
  text-align: center;
}
